---
import { getCollection } from "astro:content";
import Layout from "./Card.astro";
const { post } = Astro.props;

const postLength = post.slug.split("/").length;
const postPath = post.slug
  .split("/")
  .slice(0, postLength - 1)
  .join("/");
const allPost = await getCollection("docs");
const postSameLength = allPost.filter((post) => {
  post.slug.startsWith(postPath);
});
---

<Layout title="Post Details">
  <div>
    {postLength}
  </div>
  <div>
    {postPath}
  </div>
  <div>{postSameLength.length}</div>
  <div class="flex flex-col gap-5">
    <section>
      <ul class="marker:text-sky-400 list-disc pl-5 space-y-3 text-sm">
        <li>
          {
            ` ${post.data.pubDate.getFullYear()} 年 ${
              post.data.pubDate.getMonth() + 1
            } 月 ${post.data.pubDate.getDate()} 日 `
          }
        </li>
      </ul>
    </section>

    <section class="flex flex-col gap-5">
      <h2 class="font-bold">Categories</h2>
      <div class="flex flex-wrap gap-2">
        <ul class="marker:text-sky-400 list-disc pl-5 space-y-3 text-sm">
          {
            post.data.categories.map((tag) => (
              <li>
                <a
                  href={`/categories/${tag}`}
                  class=" underline text-indigo-500"
                >
                  {tag}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section class="flex flex-col gap-5">
      <h2 class="font-bold">Tags</h2>
      <div class="flex flex-wrap gap-2">
        <ul class="marker:text-green-400 list-disc pl-5 space-y-3 text-sm">
          {
            post.data.tags.map((tag) => (
              <li>
                <a class=" underline text-indigo-500 " href={`/tags/${tag}`}>
                  {tag}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </div>
</Layout>
